<section class="top">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-align">
          アカペラ楽譜レビューサイトへようこそ！<br>
          難易度やアレンジ等自分が求めている楽譜が見つかります！
        </h3>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <table>
          <tbody>
            <tr>
              <th>歌手</th>
              <td></td>
            </tr>
            <tr>
              <th>曲名</th>
              <td></td>
            </tr>
            <tr>
              <th>グループ構成人数</th>
              <td></td>
            </tr>
            <tr>
              <th>難易度</th>
              <td></td>
            </tr>
            <tr>
              <th>アレンジ内容</th>
              <td>
                  <% @arranges.each do |arrange| %>
                        <%= arrange.body %>
                  <% end %>
              </td>
            </tr>  
          </tbody>
          
          <tbody>
            <tr>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>