/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*@import "bulma";*/


 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 body {
  min-height: 100vh;
  font-family: sans-serif;
  background-image: image-url("accasco_bg.jpg");
  //白色を貼り付け透過
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 100%;
 }

 /* ユーザーログイン */
 .user-login {
   width: 7em;
 }

header {
 border-bottom: 5px double #ffcc33;
 margin-bottom: 2vw;
 margin-top: 2vw;
 height: 50px;
}

.top-header {
 font-size: 35px;
}

footer {
 border-top: 5px double #ffcc33;
 margin-top: 2vw;
 padding-top: 1vw;
 margin-top: 2vw;
}
 /* 検索窓 */
 .rootpageSearchForm {
  width: auto;
  &__content {
    width: 30vw;
    height: 30px;
    color: #000000;
    border-radius: 5px;
    border-color: #008bbb;
    margin: 0;
  }
  &__bottum {
    margin-left: 0.5vw;
    height: 30px;
    width: 130px;
    border-radius: 20px;
    background-color: #87cefa;
    border: none;
    box-shadow: 0 0 8px gray;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .rootpageSearchForm__bottum:hover {
    background-color: #00bfff;
  }
}

/* ヘッダーのリスト */
li {
 display: inline-block;
}

.btn-outline-danger {
 background-color: #ffffcc
}

/* ユーザートップページ */
.search-table {
 margin: auto;
}

.user-info-table {
 margin: auto;
 font-size: 20px;
 border-collapse: separate;
 border-spacing: 25px 0px;
}

.user-info-edit-table {
 margin: auto;
}

.score-show {
 margin: auto;
}

.comments-index {
 margin: auto;
}

.user-profile-image {
 border-radius: 100px;
 //width: 30%;
}

.user-profile-image-show {
 border-radius: 100px;
 width: 50%;
 height: 100%;
}

.user-profile-image-admin-index {
 border-radius: 100px;
 width: 30%;
 height: 50%;
}

.user-show {
  border-collapse: separate;
  border-spacing: 50px;
}

.score-image {
  width: 80px;
  height: 80px;
}

.link {
 text-decoration: none;
}

.admin-user-edit {
 margin: auto;
}