/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*@import "bulma";*/


 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 body {
   min-height: 100vh;
   color: white;
   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
   font-family: sans-serif;
 }

 /* ユーザーログイン */
 .user-login {
   width: 7em;
 }

header {
 border-bottom: 5px dashed #ffa500;
 margin-bottom: 2vw;
 margin-top: 2vw;
}

 /* 検索窓 */
 .rootpageSearchForm {
  width: auto;
  &__content {
    width: 30vw;
    height: 30px;
    color: #000000;
    border-radius: 5px;
    border-color: #008bbb;
    margin: 0;
  }
  &__bottum {
    margin-left: 0.5vw;
    height: 30px;
    width: 130px;
    border-radius: 20px;
    background-color: #87cefa;
    border: none;
    box-shadow: 0 0 8px gray;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .rootpageSearchForm__bottum:hover {
    background-color: #00bfff;
  }
}

/* ヘッダーのリスト */
li {
 display: inline-block;
}

.btn-outline-danger {
 background-color: #ffffcc
}

/* ユーザートップページ */
.search-table {
 margin: auto;
}

.user-info-table {
 margin: auto;
 font-size: 20px;
 border-collapse: separate;
 border-spacing: 25px 0px;
}

.user-info-edit-table {
 margin: auto;
}

.score-show {
 margin: auto;
}

.comments-index {
 margin: auto;
}